extends base
block head
  style.
    .address {
      font-weight: 600;
      width: 100%;
      margin-top:18px;
    }

    .deletion-msg {
      margin-top:18px;
      color: #333;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.5;
    }
block content
  p.address ძვირფასო #{username}
  p.deletion-msg 
    span Სამწუხაროა რომ მიდიხარ, მაგრამ პატივს ვცემთ შენს გადაწყვეტილებას.შენი ანგარიშის დეაქტივაცია წარმატებით დასრულდა.
    br 
    span Მოხარული ვიქნებით მოვისმინოთ უკუკავშირი/მიზეზი ანგარიშის გაუქმების შესახებ, მომხმარებლის აზრი ჩვენთვის მნიშვნელოვანია და გვეხმარება სერვისის გაუმჯობესებაში. 
    br
    span თუკი დაბრუნებას გადაწყვეტ – ჩვენ ყოოველთვის მოხარული ვიქნებით რომ დაგხვდეთ. 
    br
    span Მადლობას გიხდით პლატფორმის გამოყენებისთვის, საუკეთესო სურვილებით. Კითხვების ან შენიშვნების შემთხვეაში გთხოვთ არ მოერიდოთ დაკავშირებას  მხარდაჭერის გუნდთან შემდეგ მეილზე:
    u: i: strong &nbsp;costy.development@gmail.com. 
    span წარმატებები!
  br
  p.regards Საუკეთესო სურვილებით
  br
  p.regards
    strong &nbsp;Costy