extends base
block head
  style.
    .warning__msg {
      font-weight: 500;
      font-size: 16px;
      text-align:center;
      margin-top:18px;
    }

    .forgot-password__pin {
      font-size: 26px;
      letter-spacing: 8px;
      margin-top:18px;
      text-align:center;
    }

    .forgot-password__copy-pin--btn__popper.visible {
      visibility: visible;
      left: 0;
    }
block content
  p.warning__msg #{username} პინი ვალიდურია 10 წუთის განმავლობაში
  p.forgot-password__pin #{pin }