extends base
block head
  style.
    .heading-tertiary {
      font-size: 16px;
      color: #333;
      font-weight: 500;
      letter-spacing: 1px;
      text-align:center;
      margin-top:18px;
    }

    .start-list {
      list-style: none;
      margin-top:18px;
    }

    .start-list__item {
      margin-top:16px;
    }

    .start-list__item:not(:first-child) {
      margin-top: 12px;
    }

    .start-list__item-head {
      font-weight: 600;
    }

    .start-list__item-msg {
      font-style: italic;
      font-size: 14px;
      margin-top: 7px;
      padding-left: 12px;
      color: #333;
    }

    .epilog {
      color: #333;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 14px;
      margin-top:18px;
    }

    .regards {
      margin-top:18px;
      color: #333;
      text-align: end;
      font-size: 14px;
      width: 100%;
    }
block content
  p.heading-tertiary აქ არის რამდენიმე ნაბიჯი თუ როგორ დაიწყო:
  ul.start-list
    li.start-list__item
      p.start-list__item-head ** აღმოაჩინე შენი სამართავი პანელი **
      p.start-list__item-msg 
        span გაიარე ავტორიზაცია რომ აღმოაჩინო ის ფუნქციონალები რომლებიც შენთვის ხელმისაწვდომია.
        br
        span კითხვების არსებობის შემთხვევაში ჩვენი გუდნი სიამოვნებით დაგეხმარებათ
    li.start-list__item
      p.start-list__item-head ** დაასრულე პროფილის მორგება **
      p.start-list__item-msg დაასრულე ანგარიშის შევსება პროფილის ფოტოს  დამატებით და ინფორმაციის შევსებით, ეს დაგვეხმარება გავეცნოთ შენს გამოცდიელბას და შემოგთავაზოთ შენთვის საჭირო ინფორმაცია.
  p.epilog კიდევ ერთხელ მადლობას გიხდით ქოსთით სარგებლობისთვის.
  p.regards Საუკეთესო სურვილებით
  p.regards 
    strong &nbsp;Costy