extends base
block head
  style.
    .heading-tertiary {
      font-size: 16px;
      color: #333;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .start-list {
      list-style: none;
    }

    .start-list__item {
      display: flex;
      flex-direction: column;
      gap: "12px";
    }

    .start-list__item:not(:first-child) {
      margin-top: 12px;
    }

    .start-list__item-head {
      font-weight: 600;
    }

    .start-list__item-msg {
      font-style: italic;
      font-size: 14px;
      margin-top: 5px;
      padding-left: 12px;
      color: #333;
    }

    .epilog {
      color: #333;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 14px;
    }

    .regards {
      color: #333;
      text-align: end;
      font-size: 14px;
      width: 100%;
    }
block content
  p.heading-tertiary Here are a few things to get you started:
  ul.start-list
    li.start-list__item
      p.start-list__item-head **Explore Your Dashboard**
      p.start-list__item-msg Log in to your account and explore the features and functionalities available in your dashboard. If you have any questions, our support team is here to help.
    li.things-list__item
      p.start-list__item-head **Complete Your Profile**
      p.start-list__item-msg Personalize your profile by adding a profile picture and updating your information. This helps us tailor your experience and connect you with relevant content.
  p.epilog Once again, welcome to the [Your Web App Name] community! We're excited to have you with us.
  p.regards Best regards,
  p.regards The
    strong &nbsp;Costy Team